.author_Com_Title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 0;
  border-bottom: 1px solid rgb(194, 194, 194);
}
.loadingTitle {
  text-align: center;
  font-size: 1.1rem;
  margin: 25px auto;
  color: gray;
}
.authorComponent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-items: center;
  margin: 20px 10px;
}

@media (max-width: 425px) {
  .authorComponent {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 425.11px) and (max-width: 768px) {
  .authorComponent {
    grid-template-columns: 1fr;
  }
}
