.container {
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  border: 1px solid blue;
}
.menu-bar {
  border-right: 1px solid black;
}
.title {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  background: rgba(31, 31, 255, 0.746);
  color: white;
  padding: 10px 0;
}
.active {
  border-bottom: 5px solid rgba(31, 31, 255, 0.746);
}
