.menuBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
}
.authors,
.favAuthor {
  font-size: 1rem;
  font-weight: 600;
  color: black;
  display: block;
  padding: 8px 10px;
}
.link {
  text-decoration: none;
}

@media (max-width: 425px) {
  .menuBar {
    flex-direction: row;
    justify-content: space-around;
  }
}
