.menuBar {
    color: black !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
}
.authors,
.favAuthor {
    font-size: 1rem;
    font-weight: 600;
    color: black;
    margin-top: 5px;
    display: block;
    padding: 7px 10px;
}
.link {
    text-decoration: none;
}
.authors:hover,
.favAuthor:hover {
    color: black;
}
