.buttonContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
}
.btnStyle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  background: white;
}
.countpage {
  padding: 2px 3px;
  font-size: 15px;
  font-weight: 600;
  margin: 0 10px;
}
.btnIcon {
  display: inline-block;
  background: white;
  color: rgba(31, 31, 255, 0.746) !important;
  font-size: 1.3rem;
}
